<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://haiyong.site/">haiyong</a></li>
							<li><a href="https://game.haiyong.site/">game</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://tools.haiyong.site/">tools</a></li>
							<li><a href="https://code.haiyong.site/">code</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://haiyong.site/chat">chat</a></li>
							<li><a href="https://haiyong.site/doc">doc</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://haiyong.site/demo">demo</a></li>
							<li><a href="https://haiyong.site/link">link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mt-4 mt-lg-0">
				Premium and Open Source dashboard template with responsive and high quality UI. For Free!
			</div>
		</div>
	</div>
</div>